<a href="https://colab.research.google.com/github/syp2889/python25study/blob/main/%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***함수***

파이썬 함수의 구조는 다음과 같다.


def 함수_이름(매개변수):

    수행할_문장1
    수행할_문장2
    ...

In [2]:
>>> def add(a, b):
...     return a+b
...
>>>

In [3]:
>>> a = 3
>>> b = 4
>>> c = add(a, b)  # add(3, 4)의 반환값을 c에 대입
>>> print(c)

7

매개변수(parameter)와 인수(arguments)는 혼용해서 사용하는 용어이므로 잘 기억해 두자. 매개변수는 함수에 입력으로 전달된 값을 받는 변수, 인수는 함수를 호출할 때 전달하는 입력값을 의미한다.

In [4]:
def add(a, b):  # a, b는 매개변수
    return a+b

print(add(3, 4))  # 3, 4는 인수

7

In [5]:
>>> def say():
...     return 'Hi'
#say라는 이름의 함수를 만들었다. 그런데 매개변수 부분을 나타내는 함수 이름 뒤의 괄호 안이 비어 있다. 이 함수는 어떻게 사용하는 것일까?

In [6]:
>>> a = say()
>>> print(a)
#위 함수를 쓰기 위해서는 say()처럼 괄호 안에 아무런 값도 넣지 않아야 한다.
#이 함수는 입력값은 없지만, 반환값으로 "Hi"라는 문자열을 반환한다. 즉, a = say()처럼 작성하면 a에 "Hi"라는 문자열이 대입되는 것이다.

Hi

이처럼 입력값이 없고 반환값만 있는 함수는 다음과 같이 사용한다.

반환값을_받을_변수 = 함수_이름()

In [12]:
>>> def add(a, b):
...     print("%d, %d의 합은 %d입니다." % (a, b, a+b))
>>> add(3, 4)

3, 4의 합은 7입니다.

즉, 반환값이 없는 함수는 다음과 같이 사용한다.

함수_이름(입력_인수1, 입력_인수2, ...)

아마도 여러분은 ‘3, 4의 합은 7입니다.’라는 문장을 출력했는데 왜 반환값이 없다는 것인지 의아하게 생각할 수도 있다. 이 부분을 초보자들이 혼란스러워하는데, print 문은 함수의 구성 요소 중 하나인 ‘수행할_문장’에 해당하는 부분일 뿐이다. 반환값은 당연히 없다. 반환값은 오직 return 명령어로만 반환받을 수 있다.

이를 확인해 보자. 리턴받을 값을 a 변수에 대입하고 a 값을 출력해 보면 반환값이 있는지, 없는지 알 수 있다.

In [15]:
>>> a = add(3, 4)
>>> print(a)

3, 4의 합은 7입니다.
None

입력값도, 반환값도 없는 함수 역시 존재한다. 다음 예를 살펴보자.

In [16]:
>>> def say():
...     print('Hi')

입력 인수를 받는 매개변수도 없고 return 문도 없으니 입력값도, 반환값도 없는 함수이다.

이 함수를 사용하는 방법은 단 1가지이다.

In [17]:
>>> say()

Hi

즉, 입력값도, 반환값도 없는 함수는 다음과 같이 사용한다.

함수_이름()

함수를 호출할 때 매개변수를 지정할 수도 있다. 다음 예를 살펴보자.

In [18]:
>>> def sub(a, b):
...     return a - b

In [19]:
>>> result = sub(a=7, b=3)  # a에 7, b에 3을 전달
>>> print(result)

4

입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?


def 함수_이름(*매개변수):

    수행할_문장
    ...

일반적으로 볼 수 있는 함수 형태에서 괄호 안의 매개변수 부분이 *매개변수로 바뀌었다.

여러 개의 입력값을 받는 함수 만들기
다음 예를 통해 여러 개의 입력값을 모두 더하는 함수를 직접 만들어 보자.

In [24]:
>>> def add_many(*args):
...     result = 0
...     for i in args:
...         result = result + i   # *args에 입력받은 모든 값을 더한다.
...     return result

위에서 만든 add_many 함수는 입력값이 몇 개이든 상관없다. *args처럼 매개변수 이름 앞에 *을 붙이면 입력값을 전부 모아 튜플로 만들어 주기 때문이다. 만약 add_many(1, 2, 3)처럼 이 함수를 쓰면 args는 (1, 2, 3)이 되고 add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)처럼 쓰면 args는 (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)이 된다. 여기에서 *args는 임의로 정한 변수 이름이다. *pey, *python처럼 아무 이름이나 써도 된다.

args는 인수를 뜻하는 영어 단어 arguments의 약자이며 관례적으로 자주 사용한다.

In [25]:
>>> result = add_many(1,2,3)
>>> print(result)

6

In [26]:
>>> result = add_many(1,2,3,4,5,6,7,8,9,10)
>>> print(result)

55

매개변수 여러개 쓰는 함수

In [27]:
>>> def add_mul(choice, *args):
...     if choice == "add":   # 매개변수 choice에 "add"를 입력받았을 때
...         result = 0
...         for i in args:
...             result = result + i
...     elif choice == "mul":   # 매개변수 choice에 "mul"을 입력받았을 때
...         result = 1
...         for i in args:
...             result = result * i
...     return result

In [28]:
>>> result = add_mul('add', 1,2,3,4,5)
>>> print(result)

15

In [29]:
>>> result = add_mul('mul', 1,2,3,4,5)
>>> print(result)

120

**키워드 매개변수, kwargs**


이번에는 키워드 매개변수에 대해 알아보자. 키워드 매개변수는 함수 호출 시 키워드=값 형태로 전달하는 매개변수를 받을 때 사용한다. 키워드 매개변수를 사용할 때는 매개변수 앞에 별 2개(**)를 붙인다.

In [30]:
>>> def print_kwargs(**kwargs):
...     print(kwargs)

**print_kwargs는 입력받은 키워드 매개변수들을 딕셔너리 형태로 출력하는 함수이다. **

이제 이 함수를 다음과 같이 사용해 보자.

In [31]:
>>> print_kwargs(a=1)

{'a': 1}

In [32]:
>>> print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

In [33]:
>>> print_kwargs(name='홍길동', age=25, city='서울', job='개발자')

{'name': '홍길동', 'age': 25, 'city': '서울', 'job': '개발자'}

In [34]:
>>> def create_profile(**info):
...     print("=== 프로필 정보 ===")
...     for key, value in info.items():
...         print(f"{key}: {value}")
...
>>> create_profile(이름='김철수', 나이=30, 직업='프로그래머', 취미='독서')

=== 프로필 정보 ===
이름: 김철수
나이: 30
직업: 프로그래머
취미: 독서

일반 매개변수, 가변 매개변수(*args), 키워드 매개변수(**kwargs)를 모두 함께 사용할 수도 있다. 이때 순서는 반드시 다음과 같아야 한다.

In [36]:
>>> def mixed_function(name, *args, **kwargs):
...     print(f"이름: {name}")
...     print(f"추가 인수들: {args}")
...     print(f"키워드 인수들: {kwargs}")
...
>>> mixed_function('홍길동', 1, 2, 3, age=25, city='서울')

이름: 홍길동
추가 인수들: (1, 2, 3)
키워드 인수들: {'age': 25, 'city': '서울'}

***함수의 반환값은 언제나 하나이다***

In [37]:
>>> def add_and_mul(a,b):
...     return a+b, a*b

add_and_mul은 2개의 입력 인수를 받아 더한 값과 곱한 값을 반환하는 함수이다.

이 함수를 다음과 같이 호출하면 어떻게 될까?

In [40]:
>>> result = add_and_mul(3,4)

반환값은 a+b와 a*b인데, 반환값을 받아들이는 변수는 result 하나만 쓰였으므로 오류가 발생하지 않을까? 당연한 의문이다. 하지만 오류는 발생하지 않는다. 그 이유는 함수의 반환값은 2개가 아니라 언제나 1개라는 데 있다. add_and_mul 함수의 반환값 a+b와 a*b는 튜플값 하나인 (a+b, a*b)로 리턴된다.

따라서 result 변수는 다음과 같은 값을 가지게 된다.

In [41]:
result = (7, 12)

즉, 결괏값으로 (7, 12)라는 튜플 값을 가지게 되는 것이다.

만약 이 하나의 튜플 값을 2개의 값으로 분리하여 받고 싶다면 함수를 다음과 같이 호출하면 된다.

In [43]:
>>> result1, result2 = add_and_mul(3, 4)

이렇게 호출하면 result1, result2 = (7, 12)가 되어 result1은 7, result2는 12가 된다.

In [44]:
>>> def add_and_mul(a,b):
...     return a+b
...     return a*b

위와 같이 return 문을 2번 사용하면 2개의 반환값을 돌려 주지 않을까? 하지만 기대하는 결과는 나오지 않는다.

그 이유는 add_and_mul 함수를 호출해 보면 알 수 있다.

In [45]:
>>> result = add_and_mul(2, 3)
>>> print(result)

5

add_and_mul(2, 3)의 반환값은 5 하나뿐이다. 두 번째 return 문인 return a * b는 실행되지 않았다는 뜻이다.

 즉, 함수는 return 문을 만나는 순간, 반환값을 반환한 다음 함수를 빠져나가게 된다.

**return의 또 다른 쓰임새**

특별한 상황일 때 함수를 빠져나가고 싶다면 return을 단독으로 써서 함수를 즉시 빠져나갈 수 있다. 다음 예를 살펴보자.

In [46]:
>>> def say_nick(nick):
...     if nick == "바보":
...         return
...     print("나의 별명은 %s 입니다." % nick)

위는 매개변수 nick으로 별명을 입력받아 출력하는 함수이다. 이 함수 역시 반환값은 없다. 이때 문자열을 출력한다는 것과 반환값이 있다는 것은 전혀 다른 말이므로 혼동하지 말자. 함수의 반환값은 오로지 return 문에 의해서만 생성된다.

만약 입력값으로 '바보'라는 값이 들어오면 문자열을 출력하지 않고 함수를 즉시 빠져나간다.

In [49]:
>>> say_nick('야호')
>>> say_nick('바보')
#이처럼 반환값이 없는 함수에서 return으로 함수를 빠져나가는 방법은 실제 프로그래밍에서 자주 사용한다.

나의 별명은 야호 입니다.

**매개변수에 초깃값 미리 설정하기**


이번에는 조금 다른 형태로 함수의 인수를 전달하는 방법에 대해서 알아보자. 다음은 매개변수에 초깃값을 미리 설정해 주는 경우이다.

In [50]:
# default1.py
def say_myself(name, age, man=True):
    print("나의 이름은 %s 입니다." % name)
    print("나이는 %d살입니다." % age)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

다음처럼 2가지 방법으로 사용할 수 있다.

say_myself("박응용", 27)

say_myself("박응용", 27, True)

In [51]:
say_myself("박응선", 27, False)

나의 이름은 박응선 입니다.
나이는 27살입니다.
여자입니다.

In [ ]:
# default2.py
def say_myself(name, man=True, age): #두번째에 매개변수 초기값 설정을 할 경우
    print("나의 이름은 %s 입니다." % name)
    print("나이는 %d살입니다." % age)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [53]:
say_myself("박응용", 27)
#이렇게 쓰면 오류가 날 수 있어여. 27을 두번째에 넣을지 세번째에 넣을지 헷갈리니까요
#초기화하고 싶은 매개변수는 항상 뒤쪽에 놓아야 한다는 것을 잊지 말자.
#근데 잘나옴 뭐임 ㅋ

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

**함수 안에서 선언한 변수의 효력 범위**

함수 안에서 사용할 변수의 이름을 함수 밖에서도 동일하게 사용한다면 어떻게 될까? 이런 궁금증이 생겼던 독자라면 이번에 확실하게 답을 찾을 수 있을 것이다.

다음 예를 살펴보자.

In [54]:
# vartest.py
a = 1
def vartest(a):
    a = a +1

vartest(a)
print(a)

1