<a href="https://colab.research.google.com/github/syp2889/python25study/blob/main/%EC%9E%90%EB%A3%8C%ED%98%95%ED%83%80%EC%9E%85%ED%95%99%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 숫자형
# Number타입: 정수, 실수, 8진수, 16진수, 2진수 등을 표현한다.

a=123
print (a)

123

In [11]:
>>> "Error is %d%%." % 98
"%-10sjane." %"hi"
"{0:^10}".format("hi")
"{0:=^10}".format("hi")

'====hi===='

In [23]:
y=45414.123234655463321
 # 소수점 4자리까지 표현하고 총 자리수를 12으로 맞춤
"{0:12.4f}".format(y)

'  45414.1232'

In [24]:
"{{ zzzzz }}".format()
#format함수랑 {}괄호 둘다 쓰고 싶을땐 이중으로 쓰면됨

'{ zzzzz }'

In [30]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다. 그러면 내년에는 {d["age"]+1}살이 되지.'

'나의 이름은 홍길동입니다. 나이는 30입니다. 그러면 내년에는 31살이 되지.'

In [31]:
f"난 {1500000:,}원이 필요해"#f 문자열을 활용하면 숫자에 자동으로 콤마(,)를 삽입하여 가독성을 높일 수 있다.

'난 1,500,000원이 필요해'

In [32]:
a = "Python is the best choice"
a.count('e')

3

In [33]:
a = "Python is the best choice"
a.find('b')

14

In [34]:
a = "Python is the best choice"
a.find('k')

-1

In [35]:
a = "Python is the best choice"
a.index('t')

2

In [36]:
a = "Python is the best choice"
a.index('k')#find와 달리 오류가 생긴다.

ValueError: substring not found

In [37]:
",".join('abcd')

'a,b,c,d'

In [38]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [39]:
a = "hi"
>>> a.upper()

'HI'

In [40]:
>>> a = "HI"
>>> a.lower()

'hi'

In [41]:
a = " hi "
>>> a.lstrip()

'hi '

In [42]:
 a= " hi "
>>> a.rstrip()
' hi'

' hi'

In [43]:
>>> a = " hi "
>>> a.strip()
'hi'

'hi'

In [44]:
>>> a = "Life is too short"
>>> a.replace("Life", "Your leg")

'Your leg is too short'

In [45]:
>>> a = "Life is too short"
>>> a.split()#괄호 안에 아무 값도 넣어 주지 않으면 공백([Space], [Tab], [Enter])을 기준으로 문자열을 나누어 준다. 이렇게 나눈 값은 리스트에 하나씩 들어간다.

['Life', 'is', 'too', 'short']

In [46]:
>>> b = "a:b:c:d"
>>> b.split(':')#:기준으로 쪼개줌. 이렇게 나눈 값은 리스트에 하나씩 들어간다.

['a', 'b', 'c', 'd']

In [47]:
>>> s = "Python"
>>> s.isalpha()#isalpha 함수는 문자열이 알파벳 문자로만 이루어져 있는지 검사한다.

True

In [48]:
>>> s = "Python3"
>>> s.isalpha()

False

In [49]:
>>> s = "Hello World"
>>> s.isalpha()#공백이나 숫자, 특수 문자가 포함되어 있으면 False를 반환한다.

False

In [50]:
>>> s = "12345"
>>> s.isdigit()#isdigit 함수는 문자열이 숫자(0~9)로만 이루어져 있는지를 검사한다.

True

In [51]:
>>> s = "1234a"
>>> s.isdigit()

False

In [52]:
>>> s = "12 34"
>>> s.isdigit()# 공백이 있으므로 False를 반환한다.

False

In [53]:
>>> s = "Life is too short"
>>> s.startswith("Life")#startswith 함수는 문자열이 지정한 문자(열)로 시작하는지를 검사한다.

True

In [54]:
>>> s = "Life is too short"
>>> s.startswith("too")

False

In [55]:
>>> s = "Life is too short"
>>> s.endswith("short")#endswith 함수는 문자열이 지정한 문자(열)로 끝나는지를 검사한다.

True

In [58]:
"{0:=^100}".format("여기서부터 2-3 리스트 자료형")

'=========================================여기서부터 2-3 리스트 자료형=========================================='

In [59]:
>>> a = []#비어 있는 리스트는 a = list()로 생성할 수 있다.
>>> b = [1, 2, 3]
>>> c = ['Life', 'is', 'too', 'short']
>>> d = [1, 2, 'Life', 'is']#d처럼 숫자와 문자열을 함께 요솟값으로 가질 수도 있고
>>> e = [1, 2, ['Life', 'is']]# e처럼 리스트 자체를 요솟값으로 가질 수도 있다. 즉, 리스트 안에는 어떠한 자료형도 포함할 수 있다.

In [60]:
>>> a = [1, 2, 3]
>>> a[0]

1

In [61]:
>>> a[0] + a[2]

4

In [62]:
>>> a[-1]

3

In [63]:
>>> a = [1, 2, 3, ['a', 'b', 'c']]
>>> a[0]

1

In [64]:
>>> a[-1]#a[-1]은 마지막 요솟값 ['a', 'b', 'c']를 나타낸다.

['a', 'b', 'c']

In [65]:
>>> a[3]#a[3]은 리스트 a의 네 번째 요소를 나타내기 때문에 마지막 요소를 나타내는 a[-1]과 동일한 결괏값

['a', 'b', 'c']

In [66]:
>>> a[-1][0]#뒤에 2중으로 인덱스 붙여서 리스트안의 리스트값을 끄집어내기

'a'

In [67]:
>>> a[-1][1]

'b'

In [74]:
>>> b = [1, 2, ['a', 'b', ['Life', 'is']]]#3중리스트
>>> b[2][2][0]

'Life'

In [76]:
>>> b[2][2][1]#자주 사용하지는 않는다.

'is'

In [77]:
>>> a = [1, 2, 3, 4, 5]#리스트의 슬라이싱
>>> a[0:2]

[1, 2]

In [78]:
>>> a = "12345"
>>> a[0:2]

'12'

In [79]:
>>> a = [1, 2, 3, 4, 5]
>>> b = a[:2]#리스트 a의 첫 번째 요소부터 두 번째 요소인 a[1]까지 나타내는 리스트이다. 물론 a[2] 값인 3은 포함되지 않는다.
>>> c = a[2:]#c라는 변수는 리스트 a의 세 번째 요소부터 끝까지 나타내는 리스트이다.
>>> b

[1, 2]

In [80]:
>>> c

[3, 4, 5]

In [81]:
>>> a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]#리스트가 포함된 중첩 리스트 역시 슬라이싱 방법은 똑같이 적용된다.
>>> a[2:5]

[3, ['a', 'b', 'c'], 4]

In [82]:
>>> a[3][:2]

['a', 'b']

In [83]:
>>> a = [1, 2, 3]#리스트 역시 +를 사용해서 더할 수 있고 *를 사용해서 반복할 수 있다.
>>> b = [4, 5, 6]
>>> a + b

[1, 2, 3, 4, 5, 6]

In [86]:
>>> a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [87]:
>>> a = [1, 2, 3]#리스트 길이를 구하기 위해서는 다음처럼 len 함수를 사용해야 한다.
>>> len(a)

3

In [89]:
>>> a = [1, 2, 3]
#>>> a[2] + "hi"
# 정수와 문자열은 당연히 서로 더할 수 없기 때문에 오류가 발생.
#만약 숫자와 문자열을 더해서 '3hi'를 만들고 싶다면 다음처럼 숫자 3을 문자 '3'으로 바꾸어야 한다.
>>> str(a[2]) + "hi"

'3hi'

In [90]:
>>> a = [1, 2, 3]#리스트의 수정
>>> a[2] = 4
>>> a

[1, 2, 4]

In [91]:
>>> a = [1, 2, 3]#리스트의 삭제
>>> del a[1]#del은 파이썬의 내장 키워드로 객체를 삭제할 때 사용하며 다음과 같이 사용한다. del 객체
>>> a

[1, 3]

In [92]:
>>> a = [1, 2, 3, 4, 5]
>>> del a[2:]#인덱스3번째부터 잘라내기
>>> a

[1, 2]

In [93]:
>>> a = [1, 2, 3]
>>> a.append(4)# append(x)는 리스트의 맨 마지막에 x를 추가하는 함수
>>> a

[1, 2, 3, 4]

In [94]:
>>> a.append([5, 6])#어떤유형이든 추가 가능
>>> a

[1, 2, 3, 4, [5, 6]]

In [95]:
>>> a = [1, 4, 3, 2]
>>> a.sort()#sort 함수는 리스트의 요소를 순서대로 정렬해 준다.
>>> a

[1, 2, 3, 4]

In [96]:
>>> a = ['a', 'c', 'b']
>>> a.sort()
>>> a

['a', 'b', 'c']

In [97]:
>>> a = ['a', 'c', 'b']#reverse 함수는 리스트를 역순으로 뒤집어 준다.
#이때 리스트 요소들을 순서대로 정렬한 다음 다시 역순으로 정렬하는 것이 아니라
# 현재의 리스트를 그대로 거꾸로 뒤집는다.
>>> a.reverse()
>>> a

['b', 'c', 'a']

In [98]:
>>> a = [1, 2, 3]
>>> a.index(3)#index(x) 함수는 리스트에 x 값이 있으면 x의 인덱스 값(위칫값)을 반환한다.

2

In [99]:
>>> a.index(0)#다음 예에서 값 0은 a 리스트에 존재하지 않기 때문에 오류가 발생한다.

ValueError: 0 is not in list

In [100]:
>>> a = [1, 2, 3]#insert(a, b)는 리스트의 a번째 위치에 b를 삽입하는 함수이다.
# 파이썬은 숫자를 0부터 센다는 것을 반드시 기억하자.
>>> a.insert(0, 4)
>>> a

[4, 1, 2, 3]

In [101]:
>>> a.insert(3, 5)
>>> a

[4, 1, 2, 5, 3]

In [102]:
>>> a = [1, 2, 3, 1, 2, 3]
>>> a.remove(3)#리스트에서 첫 번째로 나오는 x를 삭제하는 함수이다.
>>> a

[1, 2, 1, 2, 3]

In [103]:
>>> a.remove(3)#a가 3이라는 값을 2개 가지고 있을 경우, 첫 번째 3만 제거되는 것을 알 수 있다.
>>> a

[1, 2, 1, 2]

In [104]:
>>> a = [1, 2, 3]
>>> a.pop()#pop()은 리스트의 맨 마지막 요소를 반환하고 그 요소는 삭제한다.

3

In [105]:
>>> a
#pop된 요소 삭제됨

[1, 2]

In [106]:
>>> a.pop(1)

2

In [107]:
>>> a

[1]

In [108]:
>>> a = [1, 2, 3, 1]
>>> a.count(1)#count(x)는 리스트 안에 x가 몇 개 있는지 조사하여 그 개수를 반환하는 함수이다.

2

In [110]:
>>> a = [1, 2, 3]
>>> a.extend([4, 5])#extend(x)에서 x에는 리스트만 올 수 있으며 원래의 a 리스트에 x 리스트를 더하게 된다.
>>> a

[1, 2, 3, 4, 5]

In [111]:
>>> b = [6, 7]
>>> a.extend(b)
>>> a

[1, 2, 3, 4, 5, 6, 7]

In [125]:
#a.extend([8, 9])는
a += [8, 9]#와 동일하다. 근데 여기서 광클해버림
a

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 4,
 5,
 8,
 9,
 8,
 9,
 8,
 9,
 8,
 9,
 8,
 9,
 8,
 9,
 8,
 9,
 8,
 9,
 8,
 9,
 8,
 9]

In [126]:
"{0:=^100}".format("여기서부터 2-4 튜플 자료형")

'==========================================여기서부터 2-4 튜플 자료형=========================================='

In [ ]:
#튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같다.

#리스트는 [], 튜플은 ()으로 둘러싼다.
#리스트는 요솟값의 생성, 삭제, 수정이 가능하지만, 튜플은 요솟값을 바꿀 수 없다.

In [ ]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))
#모습은 리스트와 거의 비슷하지만,
#튜플의 요솟값은 변화가 불가능하다.
#+단지 1개의 요소만을 가질 때는 요소 뒤에 쉼표(,)를 반드시 붙여야 한다는 것과
# t4 = 1, 2, 3처럼 소괄호(())를 생략해도 된다는 점이다.

In [127]:
"{0:!^50}".format("리스트의 요솟값은 변화가 가능하고 튜플의 요솟값은 변화가 불가능")

'!!!!!!!리스트의 요솟값은 변화가 가능하고 튜플의 요솟값은 변화가 불가능!!!!!!!!'

In [128]:
>>> t1 = (1, 2, 'a', 'b')#인덱싱
>>> t1[0]
1
>>> t1[3]

'b'

In [129]:
>>> t1 = (1, 2, 'a', 'b')#슬라이싱
>>> t1[1:]

(2, 'a', 'b')

In [130]:
>>> t1 = (1, 2, 'a', 'b')#더하기
>>> t2 = (3, 4)
>>> t3 = t1 + t2
>>> t3

(1, 2, 'a', 'b', 3, 4)

In [131]:
>>> t2 = (3, 4)#곱하기
>>> t3 = t2 * 3
>>> t3

(3, 4, 3, 4, 3, 4)

In [134]:
>>> t1 = (1, 2, 'a', 'b')#길이 구하기
>>> len(t1)

4

In [132]:
"{0:=^100}".format("여기서부터 2-5 딕셔너리 자료형")

'=========================================여기서부터 2-5 딕셔너리 자료형========================================='

In [136]:
#"people"이라는 단어에 "사람", "baseball"이라는 단어에 "야구"라는 뜻이 부합되듯이
#딕셔너리는 Key와 Value를 한 쌍으로 가지는 자료형이다.
#예컨대 Key가 "baseball"이라면 Value는 "야구"가 될 것이다.
#딕셔너리는 리스트나 튜플처럼 순차적으로(sequential) 해당 요솟값을 구하지 않고 Key를 통해 Value를 얻는다.
#딕셔너리의 기본적인 형태는 이렇게 생김 {Key1: Value1, Key2: Value2, Key3: Value3, ...}

In [138]:
>>> dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}#value엔 정수형, 리스트 ..다 올수 있음

In [139]:
>>> a = {1: 'a'}#딕셔너리 쌍 추가하기
>>> a[2] = 'b'
>>> a

{1: 'a', 2: 'b'}

In [140]:
>>> a['name'] = 'pey'
>>> a

{1: 'a', 2: 'b', 'name': 'pey'}

In [141]:
>>> a[3] = [1, 2, 3]#정수, 문자, 리스트 다 추가 가능
>>> a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [142]:
>>> del a[1]#삭제 가능
>>> a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [143]:
>>> grade = {'pey': 10, 'julliet': 99}
>>> grade['pey']

10

In [144]:
>>> grade['julliet']

99

In [148]:
>>> a = {1:'a', 2:'b'}#인덱싱은 안됨 key로만 찾을수 있음 value도 안되네
>>> a[1]

'a'

In [147]:
>>> a = {'a': 1, 'b': 2}
>>> a['a']

1

In [149]:
>>> dic = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
>>> dic['name']

'pey'

In [150]:
>>> dic['phone']

'010-9999-1234'

In [152]:
>>> a = {1:'a', 1:'b'}# 동일한 Key가 2개 존재할 경우, 1: 'a' 쌍이 무시된다. 동일한 Key가 중복으로 존재할 수 없다.
>>> a

{1: 'b'}

In [154]:
>>> a = {[1,2] : 'hi'}# Key에 리스트는 쓸 수 없다 (리스트 값이 변할 수 있기 때문) value는 암거나 가능

TypeError: unhashable type: 'list'

In [156]:
>>> a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}#a.keys()는 딕셔너리 a의 Key만을 모아 dict_keys 객체를 반환한다.
>>> a.keys()

dict_keys(['name', 'phone', 'birth'])

In [ ]:
#약 3.0 이후 버전에서 반환값으로 리스트가 필요한 경우에는 list(a.keys())를 사용하면 된다.
#dict_keys, dict_values, dict_items 객체는 리스트로 변환하지 않더라도 기본적인 반복 구문(예: for 문)에서 사용할 수 있다.

In [157]:
>>> for k in a.keys():#리스트를 사용하는 것과 별 차이는 없지만, 리스트 고유의 append, insert, pop, remove, sort 함수는 수행할 수 없다.
...    print(k)#print(k)를 입력할 때 들여쓰기를 하지 않으면 오류가 발생하므로 주의하자.

name
phone
birth

In [159]:
>>> list(a.keys())#dict_keys 객체를 리스트로 변환하려면 다음과 같이 하면 된다.

['name', 'phone', 'birth']

In [160]:
>>> a.values()#Value만 얻고 싶다면 values 함수를 사용하면 된다.

dict_values(['pey', '010-9999-1234', '1118'])

In [161]:
>>> a.items()#items 함수는 Key와 Value의 쌍을 튜플로 묶은 값을 dict_items 객체로 반환한다.

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [162]:
>>> a.clear()
>>> a

{}

In [165]:
>>> a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
>>> a.get('name')#get(x) 함수는 x라는 Key에 대응되는 Value를 반환한다, a.get('name')은 a['name']을 사용했을 때와 동일한 결괏값을 반환한다.

'pey'

In [164]:
>>> a.get('phone')

'010-9999-1234'

In [169]:
>>> a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
>>> a.get('nokey')
#다만, 다음 예제에서 볼 수 있듯이 a['nokey']처럼 딕셔너리에 존재하지 않는 키로 값을 가져오려고 할 경우,
#a['nokey'] 방식은 오류를 발생시키고 a.get('nokey') 방식은 None을 반환한다는 차이가 있다.
# 어떤 것을 사용할 것인지는 여러분의 선택에 달려 있다.

In [170]:
>>> a['nokey’]

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-2685440108.py, line 1)

In [172]:
>>> a.get('nokey', '정보없음')#딕셔너리 안에 찾으려는 Key가 없을 경우,
#미리 정해 둔 디폴트 값을 대신 가져오게 하고 싶을 때는 get(x, '디폴트 값')을 사용하면 편리하다.

'정보없음'