<a href="https://colab.research.google.com/github/syp2889/python25study/blob/main/%EC%A0%9C%EC%95%BD%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **IF문 학습하기**

In [ ]:
>>> money = True
>>> if money:
...     print("택시를 타고 가라")
... else:
...     print("걸어 가라")
...

택시를 타고 가라

다음은 if와 else를 사용한 조건문의 기본 구조이다.



if 조건문:

    수행할_문장1

    수행할_문장2

    ...


else:

    수행할_문장A

    수행할_문장B

    ...

다음처럼 작성하면 오류가 발생한다. ‘
수행할_문장2’를 들여쓰기하지 않았기 때문이다.



if 조건문:

    수행할_문장1

수행할_문장2

    수행할_문장3

In [ ]:
# indent_error.py
money = True
if money:
    print("택시를")
print("타고")#들여쓰기 안해서 오류 남 주의주의
    print("가라")

IndentationError: unexpected indent (ipython-input-3548834574.py, line 6)

In [ ]:
# indent_error2.py
money = True
if money:
    print("택시를")
    print("타고")
        print("가라")#들여쓰기 단계가 달라도 오류 남

IndentationError: unexpected indent (ipython-input-3487304737.py, line 6)

요즘 파이썬 커뮤니티에서는 들여쓰기를 할 때 공백 문자 4개를 사용하는 것을 권장한다.

In [ ]:
>>> money = True
>>> if money:
...     print("택시를 타고 가라")
... else:
...     print("걸어 가라")
...
#if 조건문에서 ‘조건문’이란 참과 거짓을 판단하는 문장을 말한다.
#앞에서 살펴본 택시 예제에서 조건문은 money가 된다.

택시를 타고 가라

이번에는 조건문에 비교 연산자(<, >, ==, !=, >=, <=)를 쓰는 방법에 대해 알아보자.

In [ ]:
>>> x = 3
>>> y = 2
>>> x > y

True

In [ ]:
>>> x < y

False

In [ ]:
>>> x != y

True

만약 3000원 이상의 돈을 가지고 있으면 택시를 타고 가고, 그렇지 않으면 걸어가라.

In [ ]:
>>> money = 2000
>>> if money >= 3000:
...     print("택시를 타고 가라")
... else:
...     print("걸어가라")
...

걸어가라


연산자	설명


x or y	: x와 y 둘 중 하나만 참이어도 참이다.

x and y	: x와 y 모두 참이어야 참이다.

not x	: x가 거짓이면 참이다.

In [ ]:
#돈이 3000원 이상 있거나 카드가 있다면 택시를 타고 가고, 그렇지 않으면 걸어가라.
>>> money = 2000
>>> card = True
>>> if money >= 3000 or card:
...     print("택시를 타고 가라")
... else:
...     print("걸어가라")
...

택시를 타고 가라

파이썬은 다른 프로그래밍 언어에서 쉽게 볼 수 없는 재미있는 조건문도 제공한다. 바로 다음과 같은 것들이다.


in	not in

x in 리스트	: x not in 리스트

x in 튜플	: x not in 튜플

x in 문자열	: x not in 문자열

In [ ]:
>>> 1 in [1, 2, 3]

True

In [ ]:
>>> 'a' in ('a', 'b', 'c')

True

In [ ]:
>>> 'j' not in 'python'

True

In [ ]:
>>> pocket = ['paper', 'cellphone', 'money']
>>> if 'money' in pocket:
...     print("택시를 타고 가라")
... else:
...     print("걸어가라")
...

택시를 타고 가라

조건문에서 아무 일도 하지 않게 설정하고 싶다면?

주머니에 돈이 있으면 가만히 있고, 주머니에 돈이 없으면 카드를 꺼내라.

이럴 때 사용하는 것이 바로 pass이다.
 위 예를 pass를 적용해서 구현해 보자.

In [ ]:

>>> pocket = ['paper', 'money', 'cellphone']
>>> if 'money' in pocket:
...     pass
... else:
...     print("카드를 꺼내라")
...

주머니에 돈이 있으면 택시를 타고 가고, 주머니에 돈은 없지만 카드가 있으면 택시를 타고 가고, 돈도 없고 카드도 없으면 걸어가라.

위 예에 elif를 사용하면 다음과 같이 바꿀 수 있다.

In [ ]:
>>> pocket = ['paper', 'cellphone']
>>> card = True
>>> if 'money' in pocket:
...      print("택시를 타고가라")
... elif card:
...      print("택시를 타고가라")
... else:
...      print("걸어가라")
...

택시를 타고가라

즉, elif는 이전 조건문이 거짓일 때 수행된다.

if, elif, else를 모두 사용할 때 기본 구조는 다음과 같다.


if 조건문:

    수행할_문장1
    수행할_문장2
    ...
elif 조건문:

    수행할_문장1
    수행할_문장2
    ...
elif 조건문:

    수행할_문장1
    수행할_문장2
    ...

else:

   수행할_문장1
   수행할_문장2
   ...

elif는 개수에 제한 없이 사용할 수 있다.

if 문을 한 줄로 작성하기

앞의 pass를 사용한 예를 보면 if 문 다음에 수행할 문장이 한 줄이고 else 문 다음에 수행할 문장도 한 줄밖에 되지 않는다.

In [ ]:
>>> if 'money' in pocket:
...     pass
... else:
...     print("카드를 꺼내라")
...

카드를 꺼내라

In [ ]:
>>> pocket = ['paper', 'money', 'cellphone']
>>> if 'money' in pocket: pass
... else: print("카드를 꺼내라")
...
#if 문 다음에 수행할 문장을 콜론(:) 뒤에 바로 적었다. else 문 역시 마찬가지이다.

In [ ]:
#파이썬에서는 수학에서처럼 비교 연산자를 연쇄적으로 사용할 수 있다.
>>> x = 5
>>> 1 < x < 10    # x가 1보다 크고 10보다 작은가?

True

In [ ]:
>>> 10 <= x <= 20  # x가 10 이상 20 이하인가?

False

In [ ]:
>>> x = 5
>>> (1 < x) and (x < 10)
>>> (10 <= x) and (x <= 20)
#위에꺼랑 이거랑 같음

False

In [ ]:
>>> score = 85
>>> if score >= 60:
...     result = "합격"
... else:
...     result = "불합격"
...
>>> print(result)

합격

In [ ]:
#이런 간단한 조건 분기는 파이썬의 조건부 표현식을 사용하면 한 줄로 표현할 수 있다.
>>> score = 85
>>> result = "합격" if score >= 60 else "불합격"#결론먼저 쓰고 if를 써라 그리고 else를..
>>> print(result)

합격

조건부 표현식의 기본 형태는 다음과 같다.

변수 = 참일_때_값 if 조건 else 거짓일_때_값

In [ ]:
>>> age = 19
>>> status = "성인" if age >= 18 else "미성년"
>>> print(status)

성인

In [ ]:
>>> temperature = 25
>>> weather = "따뜻함" if temperature > 20 else "추움"
>>> print(weather)

따뜻함

In [ ]:
>>> money = 1500
>>> transportation = "버스" if money >= 1000 else "도보"
>>> print(transportation)

버스

In [ ]:
#너무 복잡한 조건에는 지양할것

# **While문 학습하기**

다음은 while 문의 기본 구조이다.


while 조건문:

    수행할_문장1
    수행할_문장2
    수행할_문장3
    ...

In [ ]:
>>> treeHit = 0
>>> while treeHit < 10:
...     treeHit = treeHit +1
...     print("나무를 %d번 찍었습니다." % treeHit)
...     if treeHit == 10:
...         print("나무 넘어갑니다.")
...

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

 여러 가지 선택지 중 하나를 선택해서 입력받는 예제

In [ ]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: """

number = 0
while number != 4:
    print(prompt)
    number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:
1

1. Add
2. Del
3. List
4. Quit

Enter number:
2

1. Add
2. Del
3. List
4. Quit

Enter number:
3

1. Add
2. Del
3. List
4. Quit

Enter number:
4

강제탈출 break문

In [ ]:
>>> coffee = 10
>>> money = 300
>>> while money:
...     print("돈을 받았으니 커피를 줍니다.")
...     coffee = coffee -1
...     print("남은 커피의 양은 %d개입니다." % coffee)
...     if coffee == 0:
...         print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
...         break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [ ]:
# coffee.py
coffee = 10
while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break0
        30

돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 30
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 7개 입니다.
돈을 넣어 주세요: 3000
거스름돈 2700를 주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 3000
거스름돈 2700를 주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

while 문을 빠져나가지 않고 while 문의 맨 처음(조건문)으로 다시 돌아가게 만들고 싶은 경우가 생기게 된다.

이때 사용하는 것이 바로 continue 문이다.

In [ ]:
>>> a = 0
>>> while a < 10:
...     a = a + 1
...     if a % 2 == 0: continue#컨티뉴로 짝수가 되면 출력하지 않고 바로 while문 처음으로 되돌아감.
...     print(a)
...

1
3
5
7
9

무한루프

while True:

    수행할_문장1
    수행할_문장2
    ...

파이썬의 while 문에는 else 절을 사용할 수 있다.

while-else 문은 while 문이 정상적으로 종료되었을 때(break로 빠져나가지 않았을 때) else 절이 실행된다.

In [ ]:
>>> count = 0
>>> while count < 3:
...     print(f"카운트: {count}")
...     count += 1
... else:
...     print("while 문이 정상 종료되었습니다.")
...

카운트: 0
카운트: 1
카운트: 2
while 문이 정상 종료되었습니다.

하지만 break 문으로 while 문을 빠져나가면 else 절은 실행되지 않는다.

In [ ]:
>>> count = 0
>>> while count < 5:
...     if count == 2:
...         break
...     print(f"카운트: {count}")
...     count += 1
... else:
...     print("while 문이 정상 종료되었습니다.")
...

카운트: 0
카운트: 1

while 문 안에 또 다른 while 문을 사용할 수 있다. 이를 중첩된 while 문이라고 한다.

In [ ]:
>>> i = 1
>>> while i <= 3:
...     j = 1
...     while j <= 3:
...         print(f"i={i}, j={j}")
...         j += 1
...     i += 1
...

i=1, j=1
i=1, j=2
i=1, j=3
i=2, j=1
i=2, j=2
i=2, j=3
i=3, j=1
i=3, j=2
i=3, j=3

중첩된 while 문에서 break나 continue를 사용할 때는 가장 가까운 while 문에만 영향을 준다는 점에 주의해야 한다.

# ***For문 학습하기***

for 문의 기본 구조는 다음과 같다.


for 변수 in 리스트(또는 튜플, 문자열):

    수행할_문장1
    수행할_문장2
    ...

In [ ]:
>>> test_list = ['one', 'two', 'three']
>>> for i in test_list:
...     print(i)
...
#리스트의 첫 번째 요소인 'one'이 먼저 i 변수에 대입된 후 print(i) 문장을 수행한다.
#다음에 두 번째 요소 'two'가 i 변수에 대입된 후 print(i) 문장을 수행하고...

one
two
three

In [ ]:
>>> a = [(1,2), (3,4), (5,6)]
>>> for (first, last) in a:
...     print(first + last)
...
#위 예는 a 리스트의 요솟값이 튜플이기 때문에 각각의 요소가 자동으로 (first, last) 변수에 대입된다.

3
7
11

총 5명의 학생이 시험을 보았는데 시험 점수가 60점 이상이면 합격이고 그렇지 않으면 불합격이다. 합격인지, 불합격인지 결과를 보여 주시오.

In [ ]:
marks = [90, 25, 67, 45, 80]

In [ ]:
# marks1.py
marks = [90, 25, 67, 45, 80]   # 학생들의 시험 점수 리스트

number = 0   # 학생에게 붙여 줄 번호
for mark in marks:   # 90, 25, 67, 45, 80을 순서대로 mark에 대입
    number = number +1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

 for 문 안의 문장을 수행하는 도중 continue 문을 만나면 for 문의 처음으로 돌아가게 된다.

In [ ]:
# marks2.py
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number +1
    if mark < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

for 문은 숫자 리스트를 자동으로 만들어 주는 range 함수와 함께 사용하는 경우가 많다. 다음은 range 함수의 간단한 사용법이다.

In [ ]:
>>> a = range(10)
>>> a

range(0, 10)

시작 숫자와 끝 숫자를 지정하려면 range(시작_숫자, 끝_숫자) 형태를 사용하는데, 이때 끝 숫자는 포함되지 않는다.

In [92]:
>>> a = range(1, 11)#11포함된거아님?
>>> a

range(1, 11)

In [93]:
>>> add = 0
>>> for i in range(1, 11):
...     add = add + i
...
>>> print(add)

55

In [94]:
# marks3.py
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

    #len는 리스트 안의 요소 개수를 리턴하는 함수이다.
    #따라서 len(marks)는 5, range(len(marks))는 range(5)가 될 것이다.
    #number 변수에는 차례로 0부터 4까지의 숫자가 대입되고 marks[number]는 차례대로 90, 25, 67, 45, 80 값을 가지게 된다.
    #결과는 marks2.py 예제와 동일하다.

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [95]:
>>> for i in range(2,10):        # 1번 for문2~9
...     for j in range(1, 10):   # 2번 for문1~9
...         print(i*j, end=" ")
...     print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

리스트 안에 for 문을 포함하는 리스트 컴프리헨션(list comprehension)을 사용하면 좀 더 편리하고 직관적인 프로그램을 만들 수 있다.

In [96]:
>>> a = [1,2,3,4]
>>> result = []
>>> for num in a:
...     result.append(num*3)
...
>>> print(result)

[3, 6, 9, 12]

리스트 컴프리헨션을 사용한 경우

In [97]:
>>> a = [1,2,3,4]
>>> result = [num * 3 for num in a]
>>> print(result)

[3, 6, 9, 12]

In [99]:
>>> a = [1,2,3,4]
>>> result = [num * 3 for num in a if num % 2 == 0]
>>> print(result)
#만약 [1, 2, 3, 4] 중에서 짝수에만 3을 곱하여 담고 싶다면 리스트 컴프리헨션 안에 ‘if 조건문’을 사용하면 된다.

[6, 12]

리스트 컴프리헨션의 문법은 다음과 같다. ‘if 조건문’ 부분은 앞의 예제에서 볼 수 있듯이 생략할 수 있다.

[표현식 for 항목 in 반복_가능_객체 if 조건문]

for 문을 여러 개 사용할 때의 문법은 다음과 같다.



[표현식

      for 항목1 in 반복_가능_객체1 if 조건문1
      for 항목2 in 반복_가능_객체2 if 조건문2
      ...

      for 항목n in 반복_가능_객체n if 조건문n]

In [100]:
>>> result = [x*y for x in range(2,10)
...               for y in range(1,10)]
>>> print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

while 문에서와 마찬가지로 for 문에서도 break 문을 사용할 수 있다. break 문은 for 문을 강제로 빠져나가고 싶을 때 사용한다.

In [101]:
>>> for i in range(10):
...     if i == 5:
...         break
...     print(i)
...

0
1
2
3
4

파이썬의 for 문에는 else 절을 사용할 수 있다. for-else 문은 for 문이 정상적으로 종료되었을 때(break로 빠져나가지 않았을 때) else 절이 실행된다.

In [102]:
>>> for i in range(5):
...     if i == 3:
...         break
...     print(i)
... else:
...     print("for 문이 정상 종료되었습니다.")
...

0
1
2

리스트의 순서(인덱스)와 값을 함께 구하고 싶을 때는 enumerate 함수를 사용하면 편리하다.

In [103]:
>>> fruits = ['apple', 'banana', 'orange']
>>> for i, fruit in enumerate(fruits):
...     print(f"{i}: {fruit}")
...

0: apple
1: banana
2: orange

:enumerate는 0부터 시작하는 인덱스 번호를 자동으로 생성해준다. 시작 번호를 변경하고 싶다면 다음과 같이 사용할 수 있다.

In [104]:
>>> fruits = ['apple', 'banana', 'orange']
>>> for i, fruit in enumerate(fruits, 1):  # 1부터 시작
...     print(f"{i}: {fruit}")
...

1: apple
2: banana
3: orange

zip 함수로 여러 리스트 함께 순회하기

두 개 이상의 리스트를 동시에 순회하고 싶을 때는 zip 함수를 사용한다.

In [105]:
>>> names = ['홍길동', '김철수', '이영희']
>>> scores = [85, 92, 78]
>>> for name, score in zip(names, scores):
...     print(f"{name}: {score}점")
...

홍길동: 85점
김철수: 92점
이영희: 78점

In [108]:

>>> names = ['홍길동', '김철수', '이영희']
>>> korean = [85, 92, 78]
>>> english = [90, 88, 95]
>>> for name, kor, eng in zip(names, korean, english):
...     print(f"{name}: 국어 {kor}점, 영어 {eng}점")
...
#세 개 이상의 리스트도 함께 순회할 수 있다.

홍길동: 국어 85점, 영어 90점
김철수: 국어 92점, 영어 88점
이영희: 국어 78점, 영어 95점